// Breakpoints
$bp-small: "(min-width: 400px)";
$bp-medium: "(min-width: 740px)";
$bp-large: "(min-width: 1200px)";

// Colours
$page-color: #fff;
$text-color: #333;
$accent-color: #a435ff;

// blur for lazy load
$blurRadius: 20px;